html
    head
        title Halaman Tidak Dapat Diakses
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto+Condensed:900")
        style
            include style.css
    body
        div.container-fluid
            div.row.head
                div.col-md-6
                    h1.title Halaman Tidak Dapat
                    h1.title.title2 Diakses
                div.col-md-6.text-403.d-flex.justify-content-end
                    strong.mt-4 403
                    img.logo.ml-2(src="http://localhost:3000/img/Logo_Purple_Logo.svg", alt="logo")
            div.row.illustration
                div.col-md-12.kids
                    img.kids(src="http://localhost:3000/img/sad.svg", alt="sad")